<div class="w-100 text-center p-3">
  <h3>Browse The Range</h3>
</div>
<div class="row px-5 py-2">
    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/Images/dining.svg" class="card-img-top" alt="Sitting">
        <div class="card-body">
          <h5 class="card-title">Sitting</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/Images/livingroom.svg"class="card-img-top" alt="Living">
        <div class="card-body">
          <h5 class="card-title">Living</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/Images/bedroom.svg" class="card-img-top" alt="Bedroom">
        <div class="card-body">
          <h5 class="card-title">Bedroom</h5>
        </div>
      </div>
    </div>
  </div>
  