<div class="cart-sidebar" [ngClass]="{'open': isOpen}">
  <div class="cart-header d-flex justify-content-between border-bottom">
    <h2 class="px-3">Shopping Cart</h2>
    <button class="close-btn btn" (click)="toggleCart()">×</button>
  </div>
  <div style="height: 250px;
  overflow: scroll;" *ngIf="cartItems.length != 0">
  <div *ngFor="let item of cartItems" class="cart-item">
    <img [src]="item.image" alt="{{item.name}}" style="width: 50px; height: 50px;">
    <div class="cart-item-info">
      <p>{{ item.name }}</p>
      </div>
      <div class="cart-item-info">
      <p>{{ item.price | currency:'USD' }}</p>
    </div>
    <div class="cart-item-info">
      <img src="../../../assets/Images/cross.svg" (click)="removeFromCart(item)">
    </div>
  </div>
</div>

  <div *ngIf="cartItems.length === 0" class="no-item">
    <p>Your cart is empty !</p>
    <button type="button" class="btn btn-secondary" (click)="navigateToShop()">Add New Items</button>
  </div>
  <div class="cart-footer px-5" *ngIf="cartItems.length != 0">
    <label>Subtotal: {{ subtotal | currency:'USD' }}</label>
    <div class="cart-actions d-flex justify-content-between">
      <button class="btn btn-outline-primary">Cart</button>
      <button class="btn btn-outline-primary">Checkout</button>
      <button class="btn btn-outline-primary">Comparison</button>
    </div>
  </div>
</div>
