
  .cart-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 500px;
    height: 60%;
    background-color: white;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    pointer-events: auto; /* Ensure the sidebar is clickable */
  }
  
  .cart-sidebar.open {
    transform: translateX(0);
  }
  .no-item{
    text-align: center;
    padding: 100px;
  }
  .cart-item{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 20px;
    
  }